GUIX_ENV=env/guix

watch_file "$GUIX_ENV/channels.scm"
watch_file "$GUIX_ENV/manifest.scm"
watch_file "$GUIX_ENV/guix.scm"

eval "$(guix time-machine -C "$GUIX_ENV/channels.scm" -- \
  shell -L "$GUIX_ENV" -m "$GUIX_ENV/manifest.scm" \
  -Df "$GUIX_ENV/guix.scm" --search-paths)"

if on_git_branch; then
  echo && git status --short --branch &&
  echo && git fetch --verbose
fi
